<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>mahesh html page</h1>
        <h2>
            <a href="{% url 'mahi:suresh' %}">go to suresh html page</a>
    
        </h2>
        <h2>
            <a href="{% url 'mahi:naresh' %}">go to naresh html page</a>
        </h2>
    
    </center>
    
</body>
</html>